<button mat-button (click)="openInbox()">Inbox</button>
<button mat-button (click)="openSent()">Sent Messages</button>
<br />
<mat-accordion *ngIf="isInbox">
  <mat-expansion-panel *ngFor="let message of inboxList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div id="author">From: {{ message.senderName }}</div>
        <div id="subject">Subject: {{ message.subject }}</div>
      </mat-panel-title>
      <mat-panel-description>
          <button mat-button  (click)="openReply(message.senderID, $event)" align="end">Respond</button>
          <button mat-button align="end">Delete</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <br />
    <p>{{ message.body }}</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngIf="isInbox == false">
  <mat-expansion-panel *ngFor="let message of sentList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div id="author">To: {{ message.senderName }}</div>
        <div id="subject">Subject: {{ message.subject }}</div>
      </mat-panel-title>
      <mat-panel-description>
          <button mat-button align="end">Delete</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <br />
    <p>{{ message.body }}</p>
  </mat-expansion-panel>
</mat-accordion>