<!-- nav -->
<div class="mat-elevation">
<mat-toolbar color="primary"><div class="centered-text">Save 30% with&nbsp;<code>FLEXMONDAY30</code></div></mat-toolbar>
  <mat-toolbar style="min-height:90px; padding: 0 120px;">
          <a routerLink="/" id="title" class="nav-button" style="padding-right: 0"><h2 style="margin:0">Exert Shop</h2></a>
          <div id="search">
          <form class="search-form">
            <mat-form-field class="search-full-width" appearance="outline">
              <mat-label>Search</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Search"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 10" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <button type="button" mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
            </mat-form-field>
          </form>
        </div>


          <!-- <div class ="flex-spacer"></div> -->


          <!-- <div class ="flex-spacer"></div> -->
          <button mat-icon-button [matMenuTriggerFor]="user"><mat-icon aria-label="User Profile">account_circle</mat-icon></button>
          <button mat-icon-button><mat-icon aria-label="View Lists">view_list</mat-icon></button>
          <ng-container><button (click)=openCart() mat-icon-button><mat-icon matBadge={{cartLength}} aria-label="Shopping Cart">shopping_cart</mat-icon></button>
          </ng-container>

  </mat-toolbar>
  <mat-toolbar style="padding: 0 120px;">
    <a class="nav-button" [matMenuTriggerFor]="deals">Best Deals</a>
    <a class="nav-button" [matMenuTriggerFor]="electronics">Electronics</a>
    <a class="nav-button">Collectibles</a>
    <a class="nav-button">Clothing</a>
    <a class="nav-button">Accessories</a>
    <a class="nav-button">Home & Lifestyle</a>
    <a class="nav-button">Office Supplies</a>
  </mat-toolbar>
  </div>

<mat-card *ngIf=showCart>
  <mat-card-content>
    <mat-card-title>Cart</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems">
        <a>{{item.name}}</a>
        <a> ${{(item.tag[0]=='SALE')? item.finalPrice : item.originalPrice}}</a>
        <button (click)=removeItem(item.id) mat-icon-button><mat-icon>delete</mat-icon></button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

  <mat-menu #deals="matMenu">
    <button mat-menu-item>Deals for Kids</button>
    <button mat-menu-item>Deals for Teens</button>
    <button mat-menu-item>Deals for Adults</button>
  </mat-menu>

  <mat-menu #user="matMenu">
    <!-- If Logged In-->
    <button mat-menu-item *ngIf="isLoggedIn == true" (click)="Profile()">Profile</button>
    <button mat-menu-item *ngIf="isLoggedIn == true" (click)="Logout()">Logout</button>
    <!-- If Logged Out-->
    <button mat-menu-item *ngIf="isLoggedIn == false" (click)="Login()">User Login</button>
    <button mat-menu-item *ngIf="isLoggedIn == false" (click)="Register()">Registration</button>
  </mat-menu>

  <mat-menu #electronics="matMenu">
    <button mat-menu-item>TV & Video</button>
    <button mat-menu-item>Video Games</button>
    <button mat-menu-item>Computer Hardware</button>
    <button mat-menu-item>Cell Phones</button>
  </mat-menu>


  <!-- main content container -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
