/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background: #303030; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.exert-navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    flex: 100%;
}
.flex-spacer {
    flex-grow: 1;
}
.mat-elevation {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
#search {
    flex: 1;
    display: flex;
    position: relative;
    margin: 0 50px
}
.search-form {
    width: 100%;
}
.search-full-width {
    width: 100%;
    margin-bottom: -1.25em !important;
}
.centered-text {
    text-align: center;
    width: 100%;
}
.container {
    padding: 20px 120px;
}
.nav-button {
    padding-right: 65px;
    font-size: 16px;
    text-decoration: none;
    color: #ccc;
}
.nav-button:hover {
    color: #fff;
    cursor: pointer;
}
.nav-button:focus-visible {
    outline: 0;
}
code {
    background: #9b4bbd;
    border-radius: 5px;
    padding: 5px;
}
.user-form {
    display: flex;
    flex-direction: column;
}
.user-form-card {
    width: 500px;
    margin: 0 auto;
}

.user-form-card mat-card-header {
    padding: 16px;
}

.user-form-card mat-card-actions {
    padding: 0;
}

.simple-snack-bar .mat-simple-snackbar {
    justify-content: center;
}

.avatar {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: white;
    border: 3px solid #ccc;
    border-radius: 100%;
    margin: -30px auto 10px;
}

.avatar > p {
    font-size: 64px;
    margin: 0 auto;
    height: inherit;
    width: inherit;
    line-height: 120px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #303030;
}

.profile-card {
    width: 400px;
    padding: 20px;
}

.profile-card h1 {
    margin: 0 auto 20px;
    color: #ccc;
    border-bottom: 3px solid #303030;
}

.profile-card h3 {
    margin: 10px 0;
    color: #ccc;
    padding: 2px;
}

.profile-card button {
    margin-bottom: 8px;
}

.disabled {
    cursor: not-allowed;
}

.mat-content > mat-panel-description {
  flex: 0 0 auto;
  justify-content: space-between;
}

.mat-content > mat-panel-title {
    display: flex;
    align-items: center;
    gap: 0 50px;
    flex: 1 1 0px;
}

#date .mat-icon {
    font-size: 16px;
}

#author .mat-icon, #subject .mat-icon  {
    font-size: 18px;
}

#subject {
    display: inline-flex;
    flex: 40;
    align-items: top;
}
#date {
    display: inline-flex;
    min-width: 100px;
    align-items: top;
}
#author {
    display: inline-flex;
    flex: 5;
    min-width: 150px;
    align-items: top;
}
#author a {
    color: #ccc;
    text-decoration: none;
}

#author a:hover {
    color: #fff;
}